<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/main.css">
    <title>Home</title>
</head>

<body class="home">
    <header>
        <div class="navbar">
            <div class="logo">LOGO</div>
            <ul class="nav-menu">
                <li class="nav-opt"><a href="index.html">Home</a></li>
                <li class="nav-opt"><a href="teams.html">Ekipet</a></li>
                <li class="nav-opt"><a href="matches.html">Garat</a></li>
                <li class="nav-opt"><a href="login.html">Profili</a></li>
            </ul>
        </div>
    </header>
    <div class="top-container">
        <div class="slider">
            <img src="../Images/background-image-2.jpg">
        </div>
        <div class="table"></div>
    </div>
    <h1>Lajmet e fundit</h1>
    <div class="main-container">
        <div class="lajmi"></div>
        <div class="lajmi"></div>
        <div class="lajmi"></div>
        <div class="lajmi"></div>
    </div>
    <footer class="footeri"></footer>
</body>

</html>