<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/login.css">
    <title>Log in</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="../Images/fbk-logo1.png" alt="Logo">
        </div>
        <div class="input">
            <p>Username</p>
            <input type="text">
        </div>
        <div class="input">
            <p>Password</p>
            <input type="password">
        </div>
        <div class="btn">
            <button>Log in</button>
        </div>
        <a href="register.html">Sign up</a>
    </div>
</body>

</html>