<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/main.css">
    <title>Ekipet</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">LOGO</div>
            <ul class="nav-menu">
                <li class="nav-opt"><a href="index.html">Home</a></li>
                <li class="nav-opt"><a href="teams.html">Ekipet</a></li>
                <li class="nav-opt"><a href="matches.html">Garat</a></li>
                <li class="nav-opt"><a href="login.html">Profili</a></li>
            </ul>
        </div>
    </header>
    <div class="tb-container">
        <table class="tabela">
            <tr>
                <th>#</th>
                <th>Ekipi</th>
                <th>Ndeshjet</th>
                <th>Fitoret</th>
                <th>Humbjet</th>
                <th>Kosh Diferenca</th>
                <th>Piket</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Trepca</td>
                <td>11</td>
                <td>9</td>
                <td>2</td>
                <td>117</td>
                <td>20</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Peja</td>
                <td>11</td>
                <td>9</td>
                <td>2</td>
                <td>117</td>
                <td>20</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Trepca</td>
                <td>11</td>
                <td>9</td>
                <td>2</td>
                <td>117</td>
                <td>20</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Trepca</td>
                <td>11</td>
                <td>9</td>
                <td>2</td>
                <td>117</td>
                <td>20</td>
            </tr>
        </table>
    </div>
</body>
</html>