<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/main.css">
    <title>Ekipet</title>
</head>

<body>
    <header>
        <div class="navbar" id="nav">
            <div class="logo">LOGO</div>
            <ul class="nav-menu">
                <li class="nav-opt"><a href="index.html">Home</a></li>
                <li class="nav-opt"><a href="teams.html">Ekipet</a></li>
                <li class="nav-opt"><a href="matches.html">Garat</a></li>
                <li class="nav-opt"><a href="login.html">Profili</a></li>
            </ul>
        </div>
    </header>
    <div class="tb-container">
        <table class="tabela">
            <tr>
                <th>#</th>
                <th>Ekipi</th>
                <th>Ndeshjet</th>
                <th>Fitoret</th>
                <th>Humbjet</th>
                <th>Kosh Diferenca</th>
                <th>Piket</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Trepca</td>
                <td>11</td>
                <td>9</td>
                <td>2</td>
                <td>117</td>
                <td>20</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Peja</td>
                <td>11</td>
                <td>9</td>
                <td>2</td>
                <td>117</td>
                <td>20</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Golden Eagle Ylli</td>
                <td>11</td>
                <td>9</td>
                <td>2</td>
                <td>117</td>
                <td>20</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Trepca</td>
                <td>11</td>
                <td>9</td>
                <td>2</td>
                <td>117</td>
                <td>20</td>
            </tr>
        </table>
    </div>
    <div class="hapsira"></div>
    <footer class="footeri">
        <div class="footer-content">
            <h3>Adresa</h3>
            <p>Lagja Arberia, Rr.Radovan Zogoviq</p>
            <p>10000 Prishtine, Kosove</p>
        </div>
        <div class="footer-content">
            <h3>Kontakti</h3>
            <p>TEL: +383 49 738 080</p>
            <p>Email: Federata@basketbolli.com</p>
        </div>
        <div class="footer-content">
            <h3>Rrjetet Sociale</h3>
        </div>
    </footer>
</body>
<script src="../Scripts/main.js"></script>

</html>