<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/main.css">
    <title>Ekipet</title>
</head>

<body>
    <header>
        <div class="navbar" id="nav">
            <div class="logo">LOGO</div>
            <ul class="nav-menu">
                <li class="nav-opt"><a href="index.html">Home</a></li>
                <li class="nav-opt"><a href="teams.html">Ekipet</a></li>
                <li class="nav-opt"><a href="matches.html">Garat</a></li>
                <li class="nav-opt"><a href="login.html">Profili</a></li>
            </ul>
        </div>
        <div class="team-container">
            <div class="ekipet">
                <h2>Lideret ne Ndeshje</h2>
                <br>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Trepca</h3>
                    </div>
                </div>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Peja</h3>
                    </div>
                </div>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Golden Eagle Ylli</h3>
                    </div>
                </div>
            </div>
            <div class="ekipet">
                <h2>Lideret ne Pike</h2>
                <br>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Peja</h3>
                    </div>
                </div>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Trepca</h3>
                    </div>
                </div>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Sigal Prishtina</h3>
                    </div>
                </div>
            </div>
            <div class="ekipet">
                <h2>Lideret ne Piket e Pranuara</h2>
                <br>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Trepca</h3>
                    </div>
                </div>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Sigal Prishtina</h3>
                    </div>
                </div>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Golden Eagle Ylli</h3>
                    </div>
                </div>
            </div>
            <div class="ekipet">
                <h2>Lideret ne 3 Pikesh</h2>
                <br>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Trepca</h3>
                    </div>
                </div>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Sigal Prishtina</h3>
                    </div>
                </div>
                <div class="ekipi">
                    <img src="../Images/fbk-logo1.png" alt="">
                    <div class="ekipet-info">
                        <h3>Golden Eagle Ylli</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="hapsira"></div> -->
        <footer class="footeri">
            <div class="footer-content">
                <h3>Adresa</h3>
                <p>Lagja Arberia, Rr.Radovan Zogoviq</p>
                <p>10000 Prishtine, Kosove</p>
            </div>
            <div class="footer-content">
                <h3>Kontakti</h3>
                <p>TEL: +383 49 738 080</p>
                <p>Email: Federata@basketbolli.com</p>
            </div>
            <div class="footer-content">
                <h3>Rrjetet Sociale</h3>
            </div>
        </footer>
    </header>
</body>
<script src="../Scripts/main.js"></script>
</html>