<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/main.css">
    <title>Ekipet</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">LOGO</div>
            <ul class="nav-menu">
                <li class="nav-opt"><a href="index.html">Home</a></li>
                <li class="nav-opt"><a href="teams.html">Ekipet</a></li>
                <li class="nav-opt"><a href="matches.html">Garat</a></li>
                <li class="nav-opt"><a href="login.html">Profili</a></li>
            </ul>
        </div>
        <div class="hapsira"></div>
        <footer class="footeri"></footer>
    </header>
</body>

</html>