* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body {
    margin-top: 65px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.profile input {
    border: none;
    border-bottom: 1px solid;
    font-size: medium;
    text-align: center;
}
.profile p {
    font-weight: bolder;
    margin: 4% 0px 4% 0px;
}
.teams {
    border-collapse: collapse;
}

.teams th {
    background-color: orangered;
    padding: 15px;
    color: white;
    border: 1px solid lightgray;
    width: fit-content;
    text-wrap: nowrap;
}

.teams td {
    padding: 15px;
    border: 1px solid lightgray;
    width: fit-content;
    text-wrap: nowrap;
}