* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body {
    margin-top: 65px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.profile input {
    border: none;
    border-bottom: 1px solid;
    font-size: medium;
    text-align: center;
}
.profile button {
    background-color: white;
    border: 1px solid orangered;
    border-radius: 10%;
    padding: 2%;
}

.profile p {
    font-weight: bolder;
    margin: 4% 0px 4% 0px;
}
.edit {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.teams {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.users {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    margin: 2%;
}
table {
    margin: 0px 0px 0px 25px;   
}
.teams-tb {
    border-collapse: collapse;
}
.teams-tb th {
    background-color: orangered;
    padding: 7px;
    color: white;
    border: 1px solid lightgray;
    width: fit-content;
    text-wrap: nowrap;
}

.teams-tb td {
    padding: 10px;
    border: 1px solid lightgray;
    width: fit-content;
    text-wrap: nowrap;
}
.add-btn {
    background-color: white;
    border: 1px solid blue;
    border-radius: 10%;
    padding: 1%;
    display: flex;
    align-self: flex-end;
    margin-top: 1%;
    /* margin-right: 5%; */
}
.add-btn a {
    text-decoration: none;
    color: blue;
}

@media screen and (max-width: 768px) {
    .edit {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}