* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
}

.home {
    background: no-repeat url("../Images/background-image.jpg");
    background-position: top;
    background-size: 65%;
    background-position-x: right;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: transparent;
    max-width: 100vw;
    width: 100%;
}

.logo {
    margin: 10px;
    font-weight: 900;
    color: orangered;
    font-size: large;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}

.nav-opt {
    margin: 0 20px;
}

.nav-opt a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.active,
.nav-opt:hover {
    border-bottom: 2px solid orangered;
}

.top-container {
    display: flex;
    flex-direction: row;
    margin: 500px 10% 0px 10%;
}

.slider {
    width: 700px;
    height: 400px;
}

.slider img {
    width: 100%;
}

.table {
    width: 350px;
    margin: 0px 0px 0px 25px;
    height: 390px;
    background-color: brown;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    margin: 10% 0% 2% 0%;
    text-align: center;
}

.lajmi {
    width: 250px;
    height: 250px;
    margin: 15px;
    background-color: blue;
}

.footeri {
    margin-top: 25px;
    display: flex;
    max-width: 100vw;
    width: 100%;
    background-color: orangered;
    height: 500px;
}

.tb-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}
.tabela {
    border-collapse: collapse;
}
.tabela th {
    background-color: orangered;
    padding: 15px;
    color: white;
    border: 1px solid lightgray;
}
.tabela td {
    padding: 15px;
    border: 1px solid lightgray;

    
}